.yah{
	display:inline-block;
	margin-left:  00px;
	background-color: #689;
		font-size: 40px;
	border:solid;
	width: 2200px;
	margin-top:0px;
}

.yah2{
	font-size: 20px;
}

.green{
	margin-left: 890px;
	width:400px;
	height:300px;
}

.yah3{
	font-size: 20px;
}
